<template>
<div class="view-todo">

  <TodoMain />

</div>
</template>

<script>
import TodoMain from '@/components/todo/TodoMain'

export default {
  components: {
    TodoMain
  }
}
</script>

<style lang="scss" scoped>
.view-todo {
    padding: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
</style>
