<template>
<div :class="['todo-list', { 'todo-list--done': done }]">

  <h1 class="todo-list__title">{{ done ? 'Done:' : 'To do:' }}</h1>

  <ul class="todo-list__content">

    <li
      class="todo-list__item"
      v-for="(item, index) in list"
      :key="index"
    >
      <span>{{ item }}</span>

      <div class="todo-list__buttons">
        <button
          class="todo-list__button todo-list__button--success"
          v-if="!done"
          @click="markAsDone(item, index)"
        >✓</button>
        <button
          class="todo-list__button todo-list__button--danger"
          @click="removeFromList(index)"
        >✕</button>
      </div>
    </li>

  </ul>

</div>
</template>

<script>
export default {
  props: {
    list: {
      type: Array,
      default: []
    },

    done: {
      type: Boolean,
      default: false
    }
  },

  methods: {
    markAsDone(item, index) {
      this.$emit('addToDone', item)

      this.list.splice(index, 1)

      this.$emit('update:list', this.list)
    },

    removeFromList(index) {
      this.list.splice(index, 1)

      this.$emit('update:list', this.list)
    }
  }
}
</script>

<style lang="scss" scoped>
.todo-list {

    &--done {
        .todo-list {
            &__item {

                background-color: darken(#fff, 20%);

                span {
                    text-decoration: line-through;
                }
            }
        }
    }

    &__content {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        padding: 0.5rem;

        &:first-child {
            border-radius: 5px 5px 0 0;
            border-top: 1px solid darken(#E9ECEF, 15%);
        }

        &:not(:first-child) {
            border-top: 0;
        }

        &:last-child {
            border-radius: 0 0 5px 5px;
        }

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        background-color: #fff;

        border: 1px solid darken(#E9ECEF, 15%);
    }

    &__button {
        padding: 0 0.25rem;

        margin-left: 0.5rem;

        color: #fff;
        font-size: 1rem;

        border: 0;
        border-radius: 5px;

        &--success {
            background: #28A745;
        }

        &--danger {
            background: #DC3545;
        }

    }
}
</style>
