<template>
<div class="todo-panel">

  <div class="todo-panel__content">
    <label for="todo-panel-input">Task</label>
    <input
      id="todo-panel-input"
      placeholder="What do you need to do?"
      v-model="value"
    />
  </div>

  <div class="todo-panel__footer">
    <button
      class="todo-panel__button"
      @click="handleClick"
    >Save Item</button>
  </div>

</div>
</template>

<script>
export default {
  data: () => ({
    value: ''
  }),

  methods: {
    handleClick() {

      if (!this.value) return

      this.$emit('click', this.value)
      this.value = ''

    }
  }
}
</script>

<style lang="scss" scoped>
.todo-panel {

    &__content {
        margin: 3rem 0 1rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        font-weight: bold;

        label {
            margin-right: 2rem;
        }

        input {
            width: 100%;

            padding: 0.5rem 1rem;

            background-color: #fff;

            border-radius: 5px;
            border: 1px solid darken(#E9ECEF, 15%);
        }
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
    }

    &__button {
        padding: 0.5rem 1rem;

        color: #fff;
        font-size: 1rem;

        background: #0069D9;

        border: 0;
        border-radius: 5px;
    }
}
</style>
