<template>
<div class="todo-main">

  <TodoList
    :list.sync="list"
    @addToDone="addToDone"
  />

  <TodoPanel @click="addNewItem" />

  <TodoList
    :list.sync="done"
    done
  />

</div>
</template>

<script>
import TodoList from '@/components/todo/TodoList'
import TodoPanel from '@/components/todo/TodoPanel'

export default {
  components: {
    TodoList,
    TodoPanel
  },

  data: () => ({
    value: '',

    list: [],
    done: []
  }),

  watch: {
    list(values) {
      localStorage.setItem('list', JSON.stringify(values))
    },

    done(values) {
      localStorage.setItem('done', JSON.stringify(values))
    }
  },

  created() {
    this.list = JSON.parse(localStorage.getItem('list')) || []
    this.done = JSON.parse(localStorage.getItem('done')) || []
  },

  methods: {

    addNewItem(value) {
      this.list = [...this.list, value]
    },

    addToDone(value) {
      this.done = [...this.done, value]
    }

  }
}
</script>

<style lang="scss" scoped>
.todo-main {
    width: 90%;
    max-width: 600px;

    padding: 2rem;

    background: #E9ECEF;

    border-radius: 5px;
}
</style>
