<template>
<div id="app">
  <router-view />
</div>
</template>

<style lang="scss">
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

button {
    line-height: 1.25rem;

    cursor: pointer;
}
</style>
